:root {
  --primary-color: #0024f3;
  --secondary-color: #e94c04;
  --text-primary: #000000;
  --text-secondary: #6d5b5b;
  --shadow: rgba(0, 0, 0, 0.12);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
